{% extends "WebApp/base.html" %}

{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">            
            <div class="card px-5 py-5" id="form1">
                <h1 class="titulo_pag">Inicio de sesión</h1> 
                <p></p>                     
                <div class="form-data">  
                    <form method="POST">
                        {% csrf_token %}                      
                        <div class="forms-inputs mb-4"> 
                            <label>* Usuario</label>                         
                            <input name="username" id="username" autocomplete="off" type="text" placeholder="Nombre de usuario">                        
                        </div>
                        <div class="forms-inputs mb-4"> 
                            <label>* Contraseña</label>                                                      
                            <input name="password" id="password" autocomplete="off" type="password" placeholder="********">                        
                        </div>
                        <div class="mb-3"> 
                            <button type="submit" class="btn">Iniciar Sesión</button> 
                        </div>
                    </form>
                </div>                    
            </div>
        </div>
    </div>
</div>

{% endblock %}